<div class="jumbotron jumbotron-fluid bg-primary text-white">
  <div class="container">
    <h1 class="display-4">Welcome to SampleApp!</h1>
    <p class="lead">This is a simple Ruby on Rails application with user management functionality.</p>
    <%= link_to "View Users", users_path, class: "btn btn-light btn-lg" %>
    <%= link_to "Add New User", new_user_path, class: "btn btn-outline-light btn-lg" %>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h3>User Management</h3>
      <p>Create, read, update, and delete users with name and email fields.</p>
    </div>
    <div class="col-md-4">
      <h3>Rails 7</h3>
      <p>Built with the latest Ruby on Rails framework for modern web development.</p>
    </div>
    <div class="col-md-4">
      <h3>Bootstrap UI</h3>
      <p>Responsive design with Bootstrap for a clean, professional look.</p>
    </div>
  </div>
</div>